{% extends 'authsystem/index.html' %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/k.css' %}">

{% block title %} Login {% endblock title %}

{% block content %}
    <nav>
        <div style="display:flex; justify-content:space-around; height: 10vh; align-items: center;">
            <a href="{% url 'authsystem:home' %}">Home</a>
            <a href="{% url 'authsystem:register' %}">Register</a>
        </div>
    </nav>


    <div class="login">
        <div class="login-form">
            <div class="login-form-heading text-center">
                <h4>Login</h4>
            </div>
            <div class="login-form-input-fields">
                <form action="" method="POST">{% csrf_token %}

                    <label>Username</label>
                    <input type="text" name="username" placeholder="Username" class="input" />

                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password" class="input" />

                    {% if messages %}

                        {% for message in messages %}

                            <small class="error-msg">{{message}}</small>

                        {% endfor %}

                    {% endif %}

                    <div class="login-form-button">
                        <button type="submit">Login</button>
                    </div>
                </form>
                
                <p style="margin-top: 20px;" class="text-center">Don't have a account? <a class="a" href="{% url 'authsystem:register' %}">Sign up here</a></p>
            </div>

        </div>
    </div>

{% endblock content %}