{% extends 'authsystem/settings.html' %}

<div>
    {% block title %}
        Password reset
    {% endblock title %}

    {% block active %}

    {% endblock active %}

    {% block active1 %}
        active
    {% endblock active1 %}

    {% block pagetitle %}
        Password
    {% endblock pagetitle %}
</div>


{% block content %}
    <div class="text-center">
        <p style="font-weight: bold; font-size: 20px;">Check your inbox</p> 
        <p>
            <br>
            We’ve emailed you instructions for setting your password.
            <br>
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
            </p>

    </div>
    
{% endblock content %}