{% <!--extends 'authsystem/settings.html'--> %}
<div>
    {% block title %}
        Password reset
    {% endblock title %}

    {% block active %}

    {% endblock active %}

    {% block active1 %}
        active
    {% endblock active1 %}

    {% block pagetitle %}
        Password
    {% endblock pagetitle %}
</div>


{% block content %}
    <div class="text-center">
        <h3>Password reset complete</h3>
        <h5>Your new password has been set. You may go ahead and log in now.</h5>
        <a href="{% url 'authsystem:login' %}" style="border: 1px solid white; padding: 10px 20px; width: 500px; margin: auto; margin-top: 30px;">Login</a>
    </div>
    
{% endblock content %}